* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', sans-serif;
}

.hero-wrapper {
    background-color: #1f2937;
}

.hero-container {
    max-width: 60%;
    margin: 0 auto;
    height: 65vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    padding: 16px 0;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

ul li a {
    text-decoration: none;
}

.white, p, button, a {
    color: white;
}

.hero-main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.left h1, .left p {
    max-width: 500px;
    margin-bottom: 10px;
}

.left h1 {
    font-weight: 900;
    font-size: 3rem;
}

.left button {
    padding: 8px 30px;
    border-radius: 16px;
    background-color: rgb(41, 130, 160);
    font-size: 1.2rem;
    font-weight: 600;
}

img {
    width: 500px;
}

/*Random info section*/

.random-container {
    max-width: 50%;
    margin: 0 auto;
    height: 50vh;
}

.info-title {
    margin: 50px 0;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card {
    height: 220px;
    width: 220px;
    border: 2px solid #1f2937;
    border-radius: 16px;
    margin-bottom: 10px;
}

.card-info {
    text-align: center;
    max-width: 200px;
    color: rgb(63, 63, 63);
}

/*Quote section*/

.quote-wrapper {
    background-color: rgb(199, 199, 199);
}

.quote-container {
    height: 50vh;
    max-width: 50%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 2.6rem;
    font-style: italic;
    color: rgb(37, 37, 37);
    margin-bottom: 30px;
}

.quote-author {
    text-align: end;
    margin-right: 40px;
    font-weight: bold;
    font-size: 1.2rem;
}

/*CTA section*/